<html>
    <head> 
	    <meta charset="utf-8">
		<title>Cadastro</title> 
		
		<link rel="stylesheet" href="../public/style.css">
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
			
	</head>
	<body>
		<header class="cabecalho">
			<div class="logo">
				<a href="apresentacao.html">
				</a>
			</div>
			<button class="menu-toggle">
				<i class="fa fa-lg fa-bars"></i>
			</button>
			<nav class="menu">
				<ul>
					<li>
						<a href="apresentacao.html">Início</a>
					</li>
				
				</ul>
			</nav>
			<aside class="autenticacao">
				<a href="#login" class="botao" >Login</a>
				<a href="#registar" class="botao destaque">Registrar</a>
				<a class='botao cadastrar' href="formulario.html">Cadastrar</a>
	
			</aside>
    	</header>

		<div class="div-title">
			<h1 class="title">Cadastro feito com sucesso</h1> 
			<div class="dec"></div>
			<p class="sub-title">Instruções para realização do teste.</p>
		</div>
	</body>
</html>